/* inicio del estilo del reproductor */
.containerReproductor {
  background-color: #101527;
  border-top: 2px solid #7df2ff;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
}
.containerReproductor h1 {
  position: absolute;
  top: 4px;
  text-align: center;
  font-size: 16px;
}
.containerReproductor .progress_container {
  position: absolute;
  bottom: 14px;
  width: 70%;
  height: 5px;
  background-color: #ccc;
  border-radius: 6px;
  cursor: pointer;
  overflow: hidden;
}
.containerReproductor #progress {
  background-color: aqua;
  width: 0;
  height: 100%;
}
.containerReproductor #current_time {
  position: absolute;
  top: 40%;
  left: 10%;
}
.containerReproductor #current_audio {
  position: absolute;
  top: 40%;
  right: 10%;
}
.containerReproductor .buttons button {
  cursor: pointer;
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
}
/* inicio del estilo del cuerpo de la página */
body {
  background-color: #101527;
  color: #fff;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

.formPrincipal {
  width: 100%;
}

.btnIniciarSesion {
  background: #3ab9f0;
  font-size: 18px;
}

.btnIniciarSesion:hover {
  background: #2fa4d8;
}
.btnAgregarCancion {
  background: #3ab9f0;
  font-size: 18px;
}

.btnAgregarCancion:hover {
  background: #2fa4d8;
}

@media all and (min-width:279px) and (max-width:575px){
  #imgCancion{
    width: 220px;
  }
}

@media all and (min-width: 768px) {
  main {
    margin-left: 250px;
    width: 75%;
  }

  .formPrincipal {
    width: 20rem;
  }

  .formPrincipal input {
    font-size: 18px;
  }
  footer{
    margin-left:200px;
  }
}

@media all and (min-width: 992px) {
  main {
    margin-left: 250px;
    max-width: 100%;
    padding:20px
  }

  .formPrincipal {
    width: 25rem;
  }
  footer{
    margin-left:250px;
  }
}

@media all and (min-width: 1200px) {
  main {
    margin-left: 275px;
  }
  footer{
    margin-left:275px;
  }

  .formPrincipal {
    width: 30rem;
  }
}
