body{
    background-color: #101527;
    color: #fff;
    font-family: 'Poppins',sans-serif;
  }

  main{
    margin-top: 100px;
  }

  @media all and (min-width:768px){
    main{
      margin-top: 0px;
    }
  }