body{
  background-color: #06080F;
  color: #fff;
  overflow-x: hidden;
  font-family: 'Poppins',sans-serif;
}

.formPrincipal{
  width: 100%;
}

.btnIniciarSesion{
  background: #3ab9f0;
  font-size: 18px;
}

.btnIniciarSesion:hover{
  background: #2FA4D8;
}

.carruselCategoria{
  display: flex;
  width: 100%;
  height: 15.6rem;
  scroll-behavior: smooth;
  white-space: nowrap;
  overflow:scroll;
  scroll-snap-type: x mandatory;
}

.tarjetaCancion{
  min-width: 10.9rem;
  max-width: 12.5rem;
  min-height: 12.5rem;
  max-height: 21.8rem;
  background-color: #030406;
  color: #fff;
  border-radius: 8px;
  margin-right: 10px; 
  padding: 20px;
  scroll-snap-align: start;
  cursor: pointer;
}

.tarjetaCancion:hover{
  background:#000;
}

.btnReproducirCancion{
  width: 40px;
  height: 40px;
  position: absolute;
  bottom:0;
  right: 0;
  margin: 0px 20px 20px 10px;
  cursor: pointer;
  background: #000;
  border-radius: 100%;
}

.btnReproducirCancion i:hover{
  color: #128b05;
}

.bi-play-circle-fill::before{
  width: 40px;
  height: 40px;
  font-size: 41px;
  color: #158809;
}


@media all and (min-width:768px){
  main{
    margin-left: 200px;
  }

  .formPrincipal{
    width: 20rem;
  }

  .formPrincipal input{
    font-size: 18px;
  }
}

@media all and (min-width:992px){
  main{
    margin-left: 250px;
  }

  .formPrincipal{
    width: 25rem;
  }
}

@media all and (min-width:992px){
  main{
    margin-left: 275px;
  }

  .formPrincipal{
    width: 30rem;
  }
}
