.btnIniciarSesion{
  width: 100%;
  background-color: #3ab9f0;
  padding: 10px;
  font-size: 18px;
}

.btnIniciarSesion:hover{
  background-color: #2FA4D8;
}

.recuperarContrasenia,
.registrate{
    text-decoration: none;
}

.recuperarContrasenia:hover,
.registrate:hover{
    text-decoration: underline;
}
