#imgLogo{
    height: 120px;
    width: 220px;
    margin-left: 130px;
}

.marginStart{
    margin-left: 40px;
}

#fondoModal{
    background-color: #06080F;
}

.textoBlanco{
    color: white;
}

#botonIniciarSesion{
    background-color: aqua;
    margin-left: 160px;
}

.inputRecuerdame{
    margin-left: 350px;
}