@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.navbarIndexHorizontal{
    background-color: #06080F;
}


.menuLateral{
    background-color: #06080F;
    width: 250px;
    height: 100vh; 
    border-right: 2px solid #7df2ff;
}
.btnMenuLateralLG{
    border: 2px solid #06080F ;
}

.btnMenuLateralLG:hover{
    border: 2px solid #7df2ff;
}
.iconosMenuLateral{
    font-size: 30px;
}