body{
    background-color: #101527;
    color: #fff;
    font-family: 'Poppins',sans-serif;
    Overflow-x: hidden
  }
  
  .equipo-img {
    width: 200px; /* Tamaño deseado en píxeles */
    height: 300px;}