*{
    font-family: 'Poppins', sans-serif;
}

.navbarIndexHorizontal{
    background-color: #101527;
}
.offCanvasNavbarIndex{
    background-color: #101527;
}
.iconoNavbarIndexMD{
    font-size: 20px;
}
.menuLateral{
    background-color: #101527;
    width: 250px;
    height: 101vh; 
    border-right: 2px solid #7df2ff;
    font-size: 17.5px;
}