body{
    font-family: 'Poppins', sans-serif;
    background: #101527;
}

main{
    margin-top: 150px;
}

@media all and (min-width:768px){
    main{
        margin-top: 0px;
    }

    .formVerMas{
        width: 725px;
    }
}

@media all and (min-width:992px){
    .formVerMas{
        width: 800px;
    }
}