@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.navbarHorizontal{
    background-color: #06080F;
    color: white;
}
.linksLG{
    border-bottom: 3px solid #06080F;
}
.linksLG:hover{
    border-bottom: 3px solid #7df2ff;
}
.logo{
    margin-left: 100px;
}
.botonDropdown{
    margin-right: 100px;
}
.offCanvasNavbar{
    background-color: #06080F;
}
.offcanvas{
    width: 80px;
}

@media all and (min-width: 768px) and (max-width: 992px){
    .linksLG{
        font-size: 11px;
    }
}